#wrapper {
    width: 500px;
    aspect-ratio: 16/10;
    border: 2px solid black;
    padding: 10px;
    position: relative;
    div {
        position: relative;

         img {
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
    }
    }

   
}

